<option class="option" value="Afghanistan"><%= __('afghanistan') %></option>
<option class="option" value="Albania"><%= __('albania') %></option>
<option class="option" value="Algeria"><%= __('algeria') %></option>
<option class="option" value="Andorra"><%= __('andorra') %></option>
<option class="option" value="Angola"><%= __('angola') %></option>
<option class="option" value="Argentina"><%= __('argentina') %></option>
<option class="option" value="Armenia"><%= __('armenia') %></option>
<option class="option" value="Australia"><%= __('australia') %></option>
<option class="option" value="Austria"><%= __('austria') %></option>
<option class="option" value="Azerbaijan"><%= __('azerbaijan') %></option>
<option class="option" value="Bahamas"><%= __('bahamas') %></option>
<option class="option" value="Bahrain"><%= __('bahrain') %></option>
<option class="option" value="Bangladesh"><%= __('bangladesh') %></option>
<option class="option" value="Barbados"><%= __('barbados') %></option>
<option class="option" value="Belarus"><%= __('belarus') %></option>
<option class="option" value="Belgium"><%= __('belgium') %></option>
<option class="option" value="Belize"><%= __('belize') %></option>
<option class="option" value="Benin"><%= __('benin') %></option>
<option class="option" value="Bhutan"><%= __('bhutan') %></option>
<option class="option" value="Bolivia"><%= __('bolivia') %></option>
<option class="option" value="Bosnia and Herzegovina">
  <%= __('bosnia_and_herzegovina') %>
</option>
<option class="option" value="Botswana"><%= __('botswana') %></option>
<option class="option" value="Brazil"><%= __('brazil') %></option>
<option class="option" value="Brunei"><%= __('brunei') %></option>
<option class="option" value="Bulgaria"><%= __('bulgaria') %></option>
<option class="option" value="Burkina Faso"><%= __('burkina_faso') %></option>
<option class="option" value="Burundi"><%= __('burundi') %></option>
<option class="option" value="Cambodia"><%= __('cambodia') %></option>
<option class="option" value="Cameroon"><%= __('cameroon') %></option>
<option class="option" value="Canada"><%= __('canada') %></option>
<option class="option" value="Cape Verde"><%= __('cape_verde') %></option>
<option class="option" value="Central African Republic">
  <%= __('central_african_republic') %>
</option>
<option class="option" value="Chad"><%= __('chad') %></option>
<option class="option" value="Chile"><%= __('chile') %></option>
<option class="option" value="China"><%= __('china') %></option>
<option class="option" value="Colombia"><%= __('colombia') %></option>
<option class="option" value="Comoros"><%= __('comoros') %></option>
<option class="option" value="Congo (Brazzaville)">
  <%= __('congo_brazzaville') %>
</option>
<option class="option" value="Congo (Kinshasa)">
  <%= __('congo_kinshasa') %>
</option>
<option class="option" value="Costa Rica"><%= __('costa_rica') %></option>
<option class="option" value="Croatia"><%= __('croatia') %></option>
<option class="option" value="Cuba"><%= __('cuba') %></option>
<option class="option" value="Cyprus"><%= __('cyprus') %></option>
<option class="option" value="Czech Republic">
  <%= __('czech_republic') %>
</option>
<option class="option" value="  Denmark"><%=__('denmark')%></option>
<option class="option" value="Djibouti"><%=__('djibouti')%></option>
<option class="option" value="Dominica"><%=__('dominica')%></option>
<option class="option" value="Dominican Republic">
  <%=__('dominican_republic')%>
</option>
<option class="option" value="Ecuador"><%=__('ecuador')%></option>
<option class="option" value="Egypt"><%=__('egypt')%></option>
<option class="option" value="El Salvador"><%=__('el_salvador')%></option>
<option class="option" value="Equatorial Guinea">
  <%=__('equatorial_guinea')%>
</option>
<option class="option" value="Eritrea"><%=__('eritrea')%></option>
<option class="option" value="Estonia"><%=__('estonia')%></option>
<option class="option" value="Eswatini"><%=__('eswatini')%></option>
<option class="option" value="Ethiopia"><%=__('ethiopia')%></option>
<option class="option" value="Fiji"><%=__('fiji')%></option>
<option class="option" value="Finland"><%=__('finland')%></option>
<option class="option" value="France"><%=__('france')%></option>
<option class="option" value="Gabon"><%=__('gabon')%></option>
<option class="option" value="Gambia"><%=__('gambia')%></option>
<option class="option" value="Georgia"><%=__('georgia')%></option>
<option class="option" value="Germany"><%=__('germany')%></option>
<option class="option" value="Ghana"><%=__('ghana')%></option>
<option class="option" value="Greece"><%=__('greece')%></option>
<option class="option" value="Grenada"><%=__('grenada')%></option>
<option class="option" value="Guatemala"><%=__('guatemala')%></option>
<option class="option" value="Guinea"><%=__('guinea')%></option>
<option class="option" value="Guinea-Bissau"><%=__('guinea_bissau')%></option>
<option class="option" value="Guyana"><%=__('guyana')%></option>
<option class="option" value="Haiti"><%=__('haiti')%></option>
<option class="option" value="Honduras"><%=__('honduras')%></option>
<option class="option" value="Hungary"><%=__('hungary')%></option>
<option class="option" value="Iceland"><%=__('iceland')%></option>
<option class="option" value="India"><%=__('india')%></option>
<option class="option" value="Indonesia"><%=__('indonesia')%></option>
<option class="option" value="Iran"><%=__('iran')%></option>
<option class="option" value="Iraq"><%=__('iraq')%></option>
<option class="option" value="Ireland"><%=__('ireland')%></option>
<option class="option" value="Israel"><%=__('israel')%></option>
<option class="option" value="Italy"><%=__('italy')%></option>
<option class="option" value="Ivory Coast"><%=__('ivory_coast')%></option>
<option class="option" value="Jamaica"><%=__('jamaica')%></option>
<option class="option" value="Japan"><%=__('japan')%></option>
<option class="option" value="Jordan"><%=__('jordan')%></option>
<option class="option" value="Kazakhstan"><%=__('kazakhstan')%></option>
<option class="option" value="Kenya"><%=__('kenya')%></option>
<option class="option" value="Kiribati"><%=__('kiribati')%></option>
<option class="option" value="Kosovo"><%=__('kosovo')%></option>
<option class="option" value="Kuwait"><%=__('kuwait')%></option>
<option class="option" value="Kyrgyzstan"><%=__('kyrgyzstan')%></option>
<option class="option" value="Laos"><%=__('laos')%></option>
<option class="option" value="Latvia"><%=__('latvia')%></option>
<option class="option" value="Lebanon"><%=__('lebanon')%></option>
<option class="option" value="Lesotho"><%=__('lesotho')%></option>
<option class="option" value="Liberia"><%=__('liberia')%></option>
<option class="option" value="Libya"><%=__('libya')%></option>
<option class="option" value="Liechtenstein"><%=__('liechtenstein')%></option>
<option class="option" value="Lithuania"><%=__('lithuania')%></option>
<option class="option" value="Luxembourg"><%=__('luxembourg')%></option>
<option class="option" value="Madagascar"><%=__('madagascar')%></option>
<option class="option" value="Malawi"><%=__('malawi')%></option>
<option class="option" value="Malaysia"><%=__('malaysia')%></option>
<option class="option" value="Maldives"><%=__('maldives')%></option>
<option class="option" value="Mali"><%=__('mali')%></option>
<option class="option" value="Malta"><%=__('malta')%></option>
<option class="option" value="Marshall Islands">
  <%=__('marshall_islands')%>
</option>
<option class="option" value="Mauritania"><%=__('mauritania')%></option>
<option class="option" value="Mauritius"><%=__('mauritius')%></option>
<option class="option" value="Mexico"><%=__('mexico')%></option>
<option class="option" value="Micronesia"><%=__('micronesia')%></option>
<option class="option" value="Moldova"><%=__('moldova')%></option>
<option class="option" value="Monaco"><%=__('monaco')%></option>
<option class="option" value="Mongolia"><%=__('mongolia')%></option>
<option class="option" value="Montenegro"><%=__('montenegro')%></option>
<option class="option" value="Morocco"><%=__('morocco')%></option>
<option class="option" value="Mozambique"><%=__('mozambique')%></option>
<option class="option" value="Myanmar"><%=__('myanmar')%></option>
<option class="option" value="Namibia"><%=__('namibia')%></option>
<option class="option" value="Nauru"><%=__('nauru')%></option>
<option class="option" value="Nepal"><%=__('nepal')%></option>
<option class="option" value="Netherlands"><%=__('netherlands')%></option>
<option class="option" value="New Zealand"><%=__('new_zealand')%></option>
<option class="option" value="Nicaragua"><%=__('nicaragua')%></option>
<option class="option" value="Niger"><%=__('niger')%></option>
<option class="option" value="Nigeria"><%=__('nigeria')%></option>
<option class="option" value="North Korea"><%=__('north_korea')%></option>
<option class="option" value="North Macedonia">
  <%=__('north_macedonia')%>
</option>
<option class="option" value="Norway"><%=__('norway')%></option>
<option class="option" value="Oman"><%=__('oman')%></option>
<option class="option" value="Pakistan"><%=__('pakistan')%></option>
<option class="option" value="Palau"><%=__('palau')%></option>
<option class="option" value="Palestine"><%=__('palestine')%></option>
<option class="option" value="Panama"><%=__('panama')%></option>
<option class="option" value="Papua New Guinea">
  <%=__('papua_new_guinea')%>
</option>
<option class="option" value="Paraguay"><%=__('paraguay')%></option>
<option class="option" value="Peru"><%=__('peru')%></option>
<option class="option" value="Philippines"><%=__('philippines')%></option>
<option class="option" value="Poland"><%=__('poland')%></option>
<option class="option" value="Portugal"><%=__('portugal')%></option>
<option class="option" value="Qatar"><%=__('qatar')%></option>
<option class="option" value="Romania"><%=__('romania')%></option>
<option class="option" value="Russia"><%=__('russia')%></option>
<option class="option" value="Rwanda"><%=__('rwanda')%></option>
<option class="option" value="Saint Kitts and Nevis">
  <%=__('saint_kitts_and_nevis')%>
</option>
<option class="option" value="Saint Lucia"><%=__('saint_lucia')%></option>
<option class="option" value="Saint Vincent and the Grenadines">
  <%=__('saint_vincent_and_the_grenadines')%>
</option>
<option class="option" value="Samoa"><%=__('samoa')%></option>
<option class="option" value="San Marino"><%=__('san_marino')%></option>
<option class="option" value="Sao Tome and Principe">
  <%=__('sao_tome_and_principe')%>
</option>
<option class="option" value="Saudi Arabia"><%=__('saudi_arabia')%></option>
<option class="option" value="Senegal"><%=__('senegal')%></option>
<option class="option" value="Serbia"><%=__('serbia')%></option>
<option class="option" value="Seychelles"><%=__('seychelles')%></option>
<option class="option" value="Sierra Leone"><%=__('sierra_leone')%></option>
<option class="option" value="Singapore"><%=__('singapore')%></option>
<option class="option" value="Slovakia"><%=__('slovakia')%></option>
<option class="option" value="Slovenia"><%=__('slovenia')%></option>
<option class="option" value="Solomon Islands">
  <%=__('solomon_islands')%>
</option>
<option class="option" value="Somalia"><%=__('somalia')%></option>
<option class="option" value="South Africa"><%=__('south_africa')%></option>
<option class="option" value="South Korea"><%=__('south_korea')%></option>
<option class="option" value="South Sudan"><%=__('south_sudan')%></option>
<option class="option" value="Spain"><%=__('spain')%></option>
<option class="option" value="Sri Lanka"><%=__('sri_lanka')%></option>
<option class="option" value="Sudan"><%=__('sudan')%></option>
<option class="option" value="Suriname"><%=__('suriname')%></option>
<option class="option" value="Sweden"><%=__('sweden')%></option>
<option class="option" value="Switzerland"><%=__('switzerland')%></option>
<option class="option" value="Syria"><%=__('syria')%></option>
<option class="option" value="Taiwan"><%=__('taiwan')%></option>
<option class="option" value="Tajikistan"><%=__('tajikistan')%></option>
<option class="option" value="Tanzania"><%=__('tanzania')%></option>
<option class="option" value="Thailand"><%=__('thailand')%></option>
<option class="option" value="Timor-Leste"><%=__('timor_leste')%></option>
<option class="option" value="Togo"><%=__('togo')%></option>
<option class="option" value="Tonga"><%=__('tonga')%></option>
<option class="option" value="Trinidad and Tobago">
  <%=__('trinidad_and_tobago')%>
</option>
<option class="option" value="Tunisia"><%=__('tunisia')%></option>
<option class="option" value="Turkey"><%=__('turkey')%></option>
<option class="option" value="Turkmenistan"><%=__('turkmenistan')%></option>
<option class="option" value="Tuvalu"><%=__('tuvalu')%></option>
<option class="option" value="Uganda"><%=__('uganda')%></option>
<option class="option" value="Ukraine"><%=__('ukraine')%></option>
<option class="option" value="United Arab Emirates">
  <%=__('united_arab_emirates')%>
</option>
<option class="option" value="United Kingdom"><%=__('united_kingdom')%></option>
<option class="option" value="United States"><%=__('united_states')%></option>
<option class="option" value="Uruguay"><%=__('uruguay')%></option>
<option class="option" value="Uzbekistan"><%=__('uzbekistan')%></option>
<option class="option" value="Vanuatu"><%=__('vanuatu')%></option>
<option class="option" value="Vatican City"><%=__('vatican_city')%></option>
<option class="option" value="Venezuela"><%=__('venezuela')%></option>
<option class="option" value="Vietnam"><%=__('vietnam')%></option>
<option class="option" value="Yemen"><%=__('yemen')%></option>
<option class="option" value="Zambia"><%=__('zambia')%></option>
<option class="option" value="Zimbabwe"><%=__('zimbabwe')%></option>
