<div
  class="flex-shrink-0 p-3 main-sidebar"
  style="width: 280px"
  bis_skin_checked="1"
>
  <div class="header">
    <a
      href="/dashboard"
      class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom"
    >
      <img src="/public/images/logo.svg" alt="Logo" />
    </a>
  </div>
  <ul class="list-unstyled ps-0 sidebar-menu">
    <li class="mb-1">
      <button class="btn align-items-center rounded btn-link" <%= path === '/dashboard' ? '' : 'onclick="todashboard()"' %>>
        <i class="bi bi-house-door me-3"></i>Dashboard
      </button>
    </li>
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#products-collapse"
        aria-expanded="false"
      >
        <i class="bi bi-box me-3"></i>Products & Commodities
      </button>
      <div class="collapse show" id="products-collapse" bis_skin_checked="1">
        <ul class="btn-toggle-nav fw-normal pb-1 small">
          <li><a href="#" class="rounded active"><%-__('add_new_products')%></a></li>
          <li><a href="#" class="rounded"><%-__('view_products')%></a></li> 
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#inventory-collapse"
        aria-expanded="false"
      >
        <i class="bi bi-clipboard-data me-3"></i> Inventory  
      </button>
      <div class="collapse " id="inventory-collapse" bis_skin_checked="1">
        <ul class="btn-toggle-nav fw-normal pb-1 small">
          <li><a href="#" class="rounded"><%-__('update_inventory')%></a></li>
          <li><a href="#" class="rounded"><%-__('view_inventory')%></a></li> 
        </ul>
      </div>
    </li>

    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#customer-collapse"
        aria-expanded="false"
      >
        <i class="bi bi-person-badge me-3"></i> Customers 
      </button>
      <div class="collapse " id="customer-collapse" bis_skin_checked="1">
        <ul class="btn-toggle-nav fw-normal pb-1 small">
          <li><a href="#" class="rounded"><%-__('add_new_customer')%></a></li> 
          <li><a href="#" class="rounded"><%-__('view_customers')%></a></li> 
        </ul>
      </div>
    </li>

    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#offers-collapse"
        aria-expanded="false"
      >
      <i class="bi bi-list-task me-3"></i> Offers & Orders
      </button>
      <div class="collapse " id="offers-collapse" bis_skin_checked="1">
        <ul class="btn-toggle-nav fw-normal pb-1 small">
          <li><a href="#" class="rounded"><%-__('create_new_offer')%></a></li> 
          <li><a href="#" class="rounded"><%-__('view_offers')%></a></li> 
          <li><a href="#" class="rounded"><%-__('view_orders')%></a></li> 
        </ul>
      </div>
    </li>

    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#invoices-collapse"
        aria-expanded="false"
      >
      <i class="bi bi-receipt me-3"></i> Invoice & Document
      </button>
      <div class="collapse " id="invoices-collapse" bis_skin_checked="1">
        <ul class="btn-toggle-nav fw-normal pb-1 small">
          <li><a href="#" class="rounded"><%-__('create_new_invoice')%></a></li> 
          <li><a href="#" class="rounded"><%-__('view_invoices')%></a></li> 
          <li><a href="#" class="rounded"><%-__('add_expense_invoice')%></a></li> 
        </ul>
      </div>
    </li>

    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#delivery-collapse"
        aria-expanded="false"
      >
      <i class="bi bi-truck me-3"></i> Delivery & Fulfillment
      </button>
      <div class="collapse " id="delivery-collapse" bis_skin_checked="1">
        <ul class="btn-toggle-nav fw-normal pb-1 small">
          <li><a href="#" class="rounded"><%-__('storage')%></a></li> 
          <li><a href="#" class="rounded"><%-__('waybills')%></a></li> 
          <li><a href="#" class="rounded"><%-__('storage_members')%></a></li> 
        </ul>
      </div>
    </li>

    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#users-collapse"
        aria-expanded="false"
      >
      <i class="bi bi-person-circle me-3"></i> User managment
      </button>
      <div class="collapse " id="users-collapse" bis_skin_checked="1">
        <ul class="btn-toggle-nav fw-normal pb-1 small">
          <li><a href="#" class="rounded"><%-__('storage')%></a></li> 
          <li><a href="#" class="rounded"><%-__('waybills')%></a></li> 
          <li><a href="#" class="rounded"><%-__('storage_members')%></a></li> 
        </ul>
      </div>
    </li>

  </ul>
</div>
